{% extends 'testing/base.html' %}

{% block title %}Тестирование{% endblock %}

{% block content %}

    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          {% if user.is_authenticated %}
            <form action="/logout">
                <input  type="submit" class="btn btn-warning" value="Выйти">
            </form>
          {% else %}
            <form action="/login">
                <input  type="submit" class="btn btn-outline-light me-2" value="Войти">
            </form>
            <form action="/register">
                <input  type="submit" class="btn btn-warning" value="Регистрация">
            </form>
          {% if user.is_superuser %}
              <form action="/admin">
                <input  type="submit" class="btn btn-outline-light me-2" value="Админ панель">
              </form>
          {% endif %}
          {% endif %}
      </div>
    </div>
  </header>

{% if request.user.is_authenticated %}
{#    <div><p>Создать веб страницу (Django) с формой заполнения.</p>#}
{#    <p>- Название проверки</p>#}
{#    <p>- оценка</p>#}
{#    <p>- основные недостатки</p>#}
{#    <p>- план устранения недостатков (файл)</p>#}
{#    <p>- Сотрудники привлечённые (фио, должность, наказание ) сотрудников может быть много, может один. Тут нужна возможность добавления/удаления (+-)</p>#}
{#    <p>- дополнительные файлы (так же как сотрудники, может быть много, может одни)</p>#}
{##}
{#    <p>Форма состоит из трёх моделей (основная, люди, файлы)</p>#}
{#    <p>Тут нужно использовать Django Formset (-)</p>#}
{#    </div>#}
    <div class="container px-5 my-5">
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.as_p }}
{#Файлы#}
            <label>Файлы:</label>
            {{ files_formset.management_form }}
            <div class="file-form-list" id="file-form-list">
                <button id="add-more" type="button" class="btn btn-secondary form-control add-more">Добавить файл</button>
                {% for form in files_formset %}
                    <div class="file-form" id="file-form-{{ forloop.counter0 }}">
                            <a href={{ form.path }}>{{ form.name }}</a>
                            {{ form.as_p }}
                            <button class="btn btn-danger me-md-2 del" type="button">Удалтить</button>
                            <p></p>
                    </div>
                {% endfor %}
            </div>
            <div id="empty-form-file" class="d-none">
                {{ files_formset.empty_form.as_p }}
                <button class="btn btn-danger me-md-2 del" type="button">Удалтить</button>
                <p></p>
            </div>

        <p></p>



{#Наказания#}
        <label>Привлеченные сотрудники:</label>
{#        {{ punishment_formset.as_p }}#}
        {{ punishment_formset.management_form }}
         <div class="punishment-form-list" id="punishment-form-list">
            <button id="add-more" type="button" class="btn btn-secondary form-control add-more">Добавить наказание</button>
             {% for form in punishment_formset %}
                <div class="punishment-form" id="form-{{ forloop.counter0 }}">
                    {{ form.as_p }}
                    <button class="btn btn-danger me-md-2 del" type="button">Удалтить</button>
                    <p></p>
                </div>
             {% endfor %}
         </div>
         <div id="empty-form-punishment" class="d-none">
            {{ punishment_formset.empty_form.as_p }}
            <button class="btn btn-danger me-md-2 del" type="button">Удалтить</button>
            <p></p>
         </div>

        <p></p>



        <input type="submit" value="Отправить" class="form-control">
{#            <button type="submit"  value="Submit" class="btn btn-primary form-control">Отправить</button>#}
    </form>
    </div>
    <script>
    const addMoreBtns = document.getElementsByClassName("add-more")
    for(let i = 0; i < addMoreBtns.length; i++) {
        addMoreBtns[i].addEventListener("click", add_new_file_form)
        function add_new_file_form(event) {
            if (event){
                event.preventDefault()
            }
            const typeForm = event.target.parentNode.id.slice(0, -10)
            const currentForms = document.getElementsByClassName(`${typeForm}-form`)
            const currentFormCount = currentForms.length //+ 1
            const formFileCopyTarget = document.getElementById(`${typeForm}-form-list`)
            const copyEmptyFormFileEl = document.getElementById(`empty-form-${typeForm}`).cloneNode(true)
            copyEmptyFormFileEl.setAttribute("class", `${typeForm}-form`)
            copyEmptyFormFileEl.setAttribute("id", `${typeForm}-form-${currentFormCount}`)
            const regex = new RegExp("__prefix__", "g")
            copyEmptyFormFileEl.innerHTML = copyEmptyFormFileEl.innerHTML.replace(regex, currentFormCount)
            {#const tototalNewFileforms = document.getElementById(`id_file-TOTAL_FORMS`)#}
            {#tototalNewFileforms.setAttribute("value", (currentFormFileCount + 1).toString())#}
            document.getElementById(`id_${typeForm}-TOTAL_FORMS`).setAttribute("value", (currentFormCount + 1).toString())
            formFileCopyTarget.append(copyEmptyFormFileEl)
            update_buttons_remove()
            console.log(currentFormCount+1)
        }
    }

    function remove(event){
        const typeForm = event.target.parentNode.className.slice(0, -5)  {# Тип формы file или punishment #}
        const currentForms = document.getElementsByClassName(`${typeForm}-form`)
        const currentFormCount = currentForms.length
        const child = event.target.parentNode
        const formId = child.id.slice(-1)
        const value_input = document.getElementById(`id_${typeForm}-${formId}-id`)
        {#console.log(`id_${typeForm}-${formId}-id`)#}
        {#console.log(`value_input = ${value_input.value}`)#}
        if (value_input && value_input.value>0){
            child.style.display = "none"
            value_input.value *= -1
        } else {
            for (let el_id = Number(formId) + 1; el_id < currentFormCount; el_id++) {
                document.getElementById(`${typeForm}-form-${el_id}`).setAttribute("id", `${typeForm}-form-${el_id - 1}`)
                document.querySelector(`label[for=id_${typeForm}-${el_id}-file]`).setAttribute("for", `id_${typeForm}-${el_id - 1}-file`)
                let el = document.getElementById(`id_${typeForm}-${el_id}-file`)
                el.setAttribute("id", `id_${typeForm}-${el_id - 1}-file`)
                el.setAttribute("name", `${typeForm}-${el_id - 1}-file`)
                el = document.getElementById(`id_${typeForm}-${el_id}-id`)
                el.setAttribute("id", `id_${typeForm}-${el_id - 1}-id`)
                el.setAttribute("name", `${typeForm}-${el_id - 1}-id`)
            }
            child.parentNode.removeChild(child)
            {#tototalNewFileforms.setAttribute("value", (currentFormCount - 1).toString())#}
            document.getElementById(`id_${typeForm}-TOTAL_FORMS`).setAttribute("value", (currentFormCount - 1).toString())
        }
}
    function update_buttons_remove(){
        Array.from(document.querySelectorAll('.del')).forEach(b => b.addEventListener('click', remove));
    }
    update_buttons_remove()
    </script>
{% else %}
    <p></p>
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Ошибка 401</h1>
            <h1>Требуется авторизация</h1>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
